﻿@model IEnumerable<StudentAdministrationSystem.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oversigt over studerende</title>
</head>
<body>
    <p>
        @Html.ActionLink("Opret ny studerende", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Vis oplysninger", "Details", new { id = item.StudentId }) |
                </td>
            </tr>
        }

    </table>
</body>
</html>
